.navbar-brand {
	margin: auto;
}


#welcome {
	margin-top: 130px;
	margin-bottom: 5px;
	text-align: center;
}

#welcome button {
	margin-top: 15px;
	width: 80%;
	height: 100px;
}

button {
	margin-top: 5px;
	width: 80%;
	height: 100px;
}

#welcome button {
	font-size: 25px;
}

#vote {
	margin-top: 130px;
	margin-bottom: 25px;
	text-align: center;
	display: none;
}

#vote input{
	margin-top: 10px;
}
#tally {
	margin-top: 75px;
	margin-bottom: 25px;
	text-align: center;
	display: none;

}

h2 {
	margin-bottom: 100px;
}
#columnY {
	border: 1px solid #78C2AD;
	height: auto;
	margin-bottom: 10px;
}

#columnM {
	border: 1px solid #78C2AD;
	height: auto;
	margin-bottom: 10px;
}

#columnN {
	border: 1px solid #78C2AD;
	height: auto;
	margin-bottom: 10px;
}

.columnY_total {
	font-size: 25px;
	color: #78C2AD;
}

.columnY_list {
	font-size: 20px;
	color: #78C2AD;
}

.columnM_total {
	font-size: 25px;
	color: #78C2AD;
}

.columnM_list {
	font-size: 20px;
	color: #78C2AD;
}

.columnN_total {
	font-size: 25px;
	color: #78C2AD;
}

.columnN_list {
	font-size: 20px;
	color: #78C2AD;
}
